td {
  border: 2px solid black;
  border-radius: 25px;
  border-collapse: separate;
  background-color: aquamarine;
  text-align: center;
  vertical-align: middle;
  width: 25%;
}

table {
  border-spacing: 20px;
}

button {
    height: 100%;
    width: 100%;
}
